<rule>
  <name>BranchTemplate</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <freeForm>
      <text>matchCollection (name == &quot;high&quot; , match.size &gt; @{high_at_least})</text>
    </freeForm>
    <freeForm>
      <text>matchCollection (name == &quot;high&quot; , match.size == @{high_is_equal})</text>
    </freeForm>
    <freeForm>
      <text>matchCollection (name == &quot;medium&quot; , match.size &gt; @{medium_at_least})</text>
    </freeForm>
    <freeForm>
      <text>matchCollection (name == &quot;medium&quot; , match.size == @{medium_is_equal})</text>
    </freeForm>
  </lhs>
  <rhs>
    <freeForm>
      <text>System.out.println( &quot;@{branch}&quot;);</text>
    </freeForm>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>de.agentbase.projects.gema_mplus</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>high_at_least</string>
      <list>
        <null/>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>high_is_equal</string>
      <list>
        <string>1</string>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>0</string>
        <string>0</string>
      </list>
    </entry>
    <entry>
      <string>medium_is_equal</string>
      <list>
        <string></string>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>branch</string>
      <list>
        <string>EXACT</string>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>medium_at_least</string>
      <list>
        <string></string>
        <string></string>
      </list>
    </entry>
  </table>
  <idCol>4</idCol>
  <rowsCount>2</rowsCount>
</rule>