<rule>
  <name>BranchTemplate</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <freeForm>
      <text>matchCollection (name == &quot;high&quot; , match.size &gt; @{highatleast})
matchCollection (name == &quot;medium&quot; , match.size &gt; @{mediumatleast})</text>
    </freeForm>
  </lhs>
  <rhs>
    <freeForm>
      <text>System.out.println( &quot;@{branch}&quot;);</text>
    </freeForm>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>de.agentbase.projects.gema_mplus</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>2</string>
      </list>
    </entry>
    <entry>
      <string>mediumatleast</string>
      <list>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>branch</string>
      <list>
        <string>case</string>
      </list>
    </entry>
    <entry>
      <string>highatleast</string>
      <list>
        <string></string>
      </list>
    </entry>
  </table>
  <idCol>2</idCol>
  <rowsCount>1</rowsCount>
</rule>