<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <title>Nutzungsmeldung Online</title>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="css/aidaos.css" media="screen, projection"/>
    <script type="text/javascript" src="js/angular-1.5.8.min.js"></script>
    <script>
var notificationUsageApp = angular.module("notificationUsageApp", []);

notificationUsageApp.controller("notificationUsage", ['$scope', '$http', function($scope, $http) {
	$scope.submitForm = function(){
		// Writing it to the server
		//		
		var dataObj = {
				author : $scope.author,
				title : $scope.title,
				date : $scope.date,
				duration: $scope.duration
		};	
		var res = $http.post('/usagenotification/rest/report', dataObj);
		res.success(function(data, status, headers, config) {
			$scope.message = data;
		});
		res.error(function(data, status, headers, config) {
			$scope.message = "Ein Fehler ist aufgetreten: " + JSON.stringify({data: data});
		});		
		// Making the fields empty
		//
		$scope.author='';
		$scope.title='';
		$scope.date='';
		$scope.duration='';
	};
}]);
</script>
  </head>
  <body ng-app="notificationUsageApp" ng-controller="notificationUsage">
    <div id="outer">
      <div id="inner">
        <div id="header">
          <div id="headMenue"></div>
          <div id="headline">Nutzungsmeldung Online</div>
        </div>
        <form id="usageNotificationForm" name="usageNotificationForm" ng-submit="submitForm()">
          <div id="content">
            <div class="headline">Ich m&ouml;chte folgende Werknutzung melden</div>
            <div class="body">
              <table id="werk" border="0">
                <tbody>
                  <tr>
                    <td><label>Autor</label></td><td><input name="author" id="author" ng-model="author" title="Autor" type="text"/></td>
                  </tr>
                  <tr>
                    <td><label>Titel</label></td><td><input name="title" id="title" ng-model="title" title="Titel" type="text"/></td>
                  </tr>
                  <tr>
                    <td><label>Datum</label></td><td><input name="date" id="date" ng-model="date" title="Datum" type="text"/></td>
                  </tr>
                  <tr>
                    <td><label>Dauer</label></td><td><input name="duration" id="duration" ng-model="duration" title="Dauer" type="text"/></td>
                  </tr>
                  <tr>
					<td colspan="2" style="width:100%;padding:10px;">					
					  <div class="alert alert-info" role="alert">{{message}}</div>
					</td>
				  </tr>
                </tbody>
              </table>
            </div>
            <div class="footer">
              <img alt="" class="rich-spacer " src="images/spacer.gif" height="18px" width="1"/><input id="report" src="images/button_weiter.png" name="report" style="margin-left:5px" class="buttonRight" type="image"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
